@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body { 
  margin:auto;
  padding:1.5em;
  max-width:900px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

/* .u-photo {float:left;}
.p-note {float:left;width:40em;}
*/

/*
#me
#people
#wishlist
#offers
*/
