<div class="row">
<div class="col-sm-12">
  <div class="page-header text-muted divider">
    Posts
  </div>
</div>
</div>

{% for post in paginator.posts %}
<article class="h-entry">
<div class="row">    
  <div class="{% if post.image %}col-sm-9{% else %}col-sm-12{% endif %}">
    <h3 class="p-name"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    {% comment %} <h4><span class="label label-default">searchenginewatch.com</span></h4><h4> {% endcomment %}
    <small class="text-muted">{% include post-date.html %} • <a href="{{ site.baseurl }}{{ post.url }}" class="text-muted">Read More</a></small>
    </h4>
    {% if post.description %}<p class="p-summary">{{ post.description }}</p>{% endif %}
  </div>
{% if post.image %}
  <div class="col-sm-3">
    <a href="#" class="pull-right"><img src="{{ post.image }}" class="img-circle"></a>
  </div>
{% endif %}
</div>
<div class="row divider">    
   <div class="col-sm-12"><hr></div>
</div>
</article>
{% endfor %}

