/* styles from dbyll http://dbtek.github.io/dbyll */


.sidebar-header {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 10px;
}
.sidebar-header .title{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sidebar-header .title a{
    text-decoration: none;
    color: #fff;
}

/* Author bio */
#bio {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Social icons */
#contact-list li .fa,
article .share .btn {
    -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
    color: #00ACEE;
    border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
    color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
    color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
    color: #CC2127;
}
#contact-list li:hover .fa-rss {
    color: #e74c3c;
}
article .share .facebook:hover {
    color: #43609C;
    border-color: #43609C;
}
article .share .gplus:hover {
    color: #C13929;
    border-color: #C13929;
}

#contact-list-secondary {
    padding-bottom: 10px;
}